.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.navbar .navbar-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;

}

.navbar-list li{
  margin-right: 40px;
}

/* card section */

.card-container{
    margin: 20px 200px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.card{
    height: 600px;
    width: 25%;
    background: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card img{
    max-width: 100%;
    height: 300px;
}
